body {
  background-color: darkslateblue;
  color: cornsilk;
  padding: 20px;
  font-family: "Tahoma", "Helvetica", "Candara", "Arial", "sans-serif";
}

h3 {
  font-size: 19px;
  color: lightyellow;
}

hr {
  margin-top: 25px;
}

.input-text-label {
  font-size: 18px;
  margin-right: 20px;
}

.input-text {
  background-color: cornsilk;
  font-size: 16px;
  font-family: monospace;
  margin-top: 5px;
}

.update-text {
  background-color: lightskyblue;
  font-size: 16px;
  font-family: monospace;
  margin-top: 5px;
}

#add-btn {
  background-color: cornsilk;
  padding: 4px 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 15px;
  outline: none;
  border-radius: 6px;
}

#add-btn:hover {
  background-color: white;
  box-shadow: 0px 0px 5px black;
  font-weight: 600;
  cursor: pointer;
}

#add-btn:active {
  box-shadow: -2px -2px 5px black;
}

.delete-btn {
  background-color: #880000;
  border-radius: 5px;
  color: cornsilk;
  cursor: pointer;
  font-size: 12px;
  margin: 2px 4px 2px 4px;
  padding-bottom: 3px;
}

.update-btn {
  background-color: #004488;
  border-radius: 5px;
  color: cornsilk;
  cursor: pointer;
  font-size: 12px;
  margin: 2px 4px 2px 4px;
  padding-bottom: 3px;
}

#confirm-update-btn {
  background-color: #004488;
  color: cornsilk;
  padding: 4px 10px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  outline: none;
  border-radius: 6px;
}

#confirm-update-btn:hover {
  background-color: white;
  color: #003366;
  box-shadow: 0px 0px 5px black;
  font-weight: 600;
  cursor: pointer;
}

#confirm-update-btn:active {
  box-shadow: -2px -2px 5px black;
}

#cancel-update-btn {
  background-color: #660055;
  color: cornsilk;
  padding: 4px 10px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0px;
  outline: none;
  border-radius: 6px;
}

#cancel-update-btn:hover {
  background-color: cornsilk;
  color: #440033;
  box-shadow: 0px 0px 5px black;
  font-weight: 600;
  cursor: pointer;
}

#cancel-update-btn:active {
  box-shadow: -2px -2px 5px black;
}

#p-action-msg {
  margin: 0px;
  padding: 0px;
}

#action-msg {
  background-color: yellow;
  color: slateblue;
  padding: 5px 15px 7px 15px;
  border-radius: 25px;
  font-size: 18px;
}

#users-table {
  margin-left: 0px;
  padding-left: 0px;
}

th {
  text-align: left;
  padding-bottom: 6px;
  font-size: 17px;
  text-decoration: underline;
}

td {
  font-size: 17px;
}

#th-id {
  text-align: right;
  padding-right: 10px;
  border-right: 2px dotted slateblue;
}

#th-last-name {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px dotted slateblue;
}

#th-first-name {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px dotted slateblue;
}

#th-email {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px dotted slateblue;
}

#th-password {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 2px dotted slateblue;
}

#th-actions {
  padding-left: 10px;
  text-align: center;
}

.col-id {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 2px;
  border-right: 2px dotted slateblue;
  border-bottom: 1px dashed slateblue;
}

.col-last-name {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-right: 2px dotted slateblue;
  border-bottom: 1px dashed slateblue;
}

.col-first-name {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-right: 2px dotted slateblue;
  border-bottom: 1px dashed slateblue;
}

.col-email {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-right: 2px dotted slateblue;
  border-bottom: 1px dashed slateblue;
}

.col-password {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  border-right: 2px dotted slateblue;
  border-bottom: 1px dashed slateblue;
}

.col-actions {
  padding-left: 10px;
  padding-bottom: 2px;
  border-bottom: 1px dashed slateblue;
}

.nothing {
  color: white;
}
